.characterCard {
  height: 15rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  border: black solid 1px;
  border-radius: 10%;
  align-items: center;
  padding: 20px;
  text-decoration: none;
  color: #000;
}
