.charactersList {
  font-family: 'mainPolice';
  background-image: url('../../public/assets/wallpaper.jpeg');
  color: #fff;
  min-height: 100vh;
  &__title {
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 10rem;
  }
  &__map {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    justify-items: center;
    &__details {
      height: 15rem;
      width: 20rem;
      display: flex;
      flex-direction: column;
      border: #fff solid 1px;
      border-radius: 10%;
      align-items: center;
      padding: 20px;
      text-decoration: none;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 50px;
    padding-bottom: 30px;
    &__css {
      width: 200px;
      font-family: 'mainPolice';
    }
  }
}
