.housesList {
  background: url('../../public/assets/wallpaper.jpeg');
  font-family: 'mainPolice';

  &__title {
    display: flex;
    justify-content: center;
    padding: 10rem;
    color: #fff;
  }
  &__map {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    justify-items: center;
    &__details {
      height: 15rem;
      width: 20rem;
      display: flex;
      flex-direction: column;
      border: #fff solid 1px;
      border-radius: 10%;
      align-items: center;
      padding: 20px;
      text-decoration: none;
    }
  }
}
